/* General Reset */
body {
  font-family: Arial, sans-serif;
  margin: 40px;
  background-color: #f7f9fc;
  color: #333;
}

header h1 {
  font-size: 2em;
  color: #005f99;
}

header h2 {
  font-size: 1.5em;
  margin-bottom: 20px;
  color: #0077cc;
}

.references {
  list-style-type: disc;
  padding-left: 20px;
}

.references li {
  margin-bottom: 15px;
  line-height: 1.6;
}

.references a {
  color: #0055aa;
  text-decoration: none;
}

.references a:hover {
  text-decoration: underline;
}